.header {
	margin-top: 4em;
	text-align: center;
}
.hidden {
	visibility: hidden;
}
.required-but-not-supplied {
	background: red;
}
.req-sample-response pre {
	height: 10em;
	resize: both;
	overflow: auto;
}
